
#header {
  background: whitesmoke url(ausnog-web-logo.png) left no-repeat;
  padding-top:50px; 
  margin-bottom:50px;
}


body {
    background-color: whitesmoke;
    text
}

h1 {
    color: #111111;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16pt;
}

p{
    color: #111111;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;  
}

a{
    color: #f07;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;  
}

li{
    color: #111111;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    text-indent: 4;
    
}
